.container{
	width:100%;
	height: 100vh;
	background-color: rgba(0, 0, 0,0.4);
	display:flex;
	align-items:center;
	justify-content: center;
}
.content{
	text-align: center;
}
.content h1{
	font-size: size:95px;
	color: white;
	margin-bottom: 50px;
}
.content a{
	font-size: 23px;
	color: white;
	border: 2px solid white;
	padding: 15px 25px;
	border-radius: 50px;
}
.background-clip{
	position: absolute;
	right:0;
	bottom: 0;
	z-index: -1;
}
video{
	width:100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
	background-position: center;
	background-size: center;
}
img{
	height: 50px;
	width:50px;
}
h1{
	color: red;
}
.alignimagenadsign{
	display:flex;
	align-items: center;
}
.topelements{
	display:flex;
	justify-content: space-between;
}
.elementsright{
	text-align: right;
}
div3 ul li{
	margin: 0 10px;
	display: inline-block;
}
footer ul li{
	display:grid;
}