video{
	background-image:linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
	background-position: center;
	background-size: center;
}
div1 img{
	height: 50px;
	width:50px;
}
header h1{
	color: red;
}
.alignimagenadsign{
	display:flex;
	align-items: center;
}
.topelements{
	display:flex;
	justify-content: space-between;
}
.elementsright{
	text-align: right;
}
div3 ul li{
	margin: 0 10px;
	display: inline-block;
}
main div5{
	text-align: center;
}
main h2{
	font-size: 15px;
	padding:0px 300px;
	color:greenyellow;
}

.alignthefooter{
	display: flex;
	text-align: center;
	justify-content: space-between;
}
