body{
	margin: 0;
	padding: 0;
}
a:hover{
	color: purple;	
  	border: 5px solid blue;
  	background-color: transparent;
}
main video{
	width: max-content;
	height:70vh;
	background-color: rgba(0, 0, 0, 0.40);
	position: absolute;
	left:350px;
	top:120px;
	z-index: -1;
	background-color: transparent;
}
divall video{
	background-color: rgba(0, 0, 0, 0.40);
	position: absolute;
	right:0px;
	bottom:0px;
	z-index: -1;
}
div1 img{
	height: 50px;
	width:50px;
	border-radius: 50%;
}
Header h1{
	color: blue;
	padding-left: 10px;
}
Header a p{
	color: blue;
}
.alignimagenadsign{
	display:flex;
	align-items: center;
}
.topelements{
	display:flex;
	justify-content: space-between;
}
.elementsright{
	text-align: right;
}
div3 ul li{
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
}
.links a{
	text-decoration: none;
	color: blue;
}
main {
	font-size: 15px;
	padding:0px 400px;
	color:#C939FF;
	text-align: center;
	padding-top: 110px;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.borderoflearn{
 width: 500px;
  height: 200px;
  border: 5px solid blue;
  background-color: transparent;
}
.alignthefooter{
	display: flex;
	text-align: center;
	justify-content: space-between;
}
footer{
	padding-top: 90px;
}
ul p{
	color: #AB0060;
	font-size: 15px;
}
h12{
	color:#FF008F
}
footer ul li p1{
	color:blue;
	
}
